<!DOCTYPE html>
<html>
  <head>
    <title>Issue Timeline</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/homePage.css' />
    <link rel='stylesheet' href='/stylesheets/hover.css' />
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
<link rel="icon" href="http://getbootstrap.com/favicon.ico">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="loginbox">
  <div id="panel">
  <br>
   <center> <h1 class = "animated bounceInLeft"> Welcome <%= user %> !! </h1></center>
  <br>
<% if (user == 'User') { %>
<center><button onclick="location.href = 'https://github.com/login/oauth/authorize?client_id=58161dcf40849abffecd&scope=repo';" id="SignUp" class="btn btn-lg btn-success" >Github OAuth</button></center>
<br>
<br><% } %>

<div class="conatiner">
  
  <form method="post" action="./" class="form-horizontal" role="form" style="padding:50px">
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Github Username:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="username" value="shippable">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="repo">Repository Name:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" name="repo" value="support">
      </div>
    </div>
    <br>
   <input type="hidden" name="token" value=<%= accessToken %>>
<span style="margin-right:20px"><b>Range of Days:     </b>
<input type="text" name="days" value="2"><span style="margin-left:10px;margin-right:10px"> to </span> <input type="text" name="daysEnd" value="5">
   <br><br><br><br>
         
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" name="state" class="btn btn-primary btn-lg" value="Open" style="padding:10px 100px 10px 100px">
        <input type="submit" name="state" class="btn btn-primary btn-lg" value="Close" style="padding:10px 100px 10px 100px">
      </div>
  
  </form>
  </div>
  </div>
</div>
  </body>
</html>
